$imageWidth: 382px;
$imageHeight: 92px;

.googleBtn {
    cursor: pointer;
    display:block;
    background-image: url('/google_signin_buttons/web/2x/btn_google_signin_dark_normal_web@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc($imageWidth/2);
    height: calc($imageHeight/2);
    margin-left: auto;
    margin-right: auto;
}

.spinner {
    margin-left: auto;
    margin-right: auto;
}
