$BorSty: solid;
$BorWid: 1px;
$mar1: auto;
$mar2: auto;

.logo {
    background-color: rgb(56, 169, 255);
    border-radius: 4px;
}

.title {
    font-size: 40px;
    font-weight: 500;
}

.logoAndTitle {
    display: flex;
    align-items: center;
}

.parentContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    border-style: $BorSty;
    border-width: $BorWid;
    border-radius: 10px;

    width: auto;
    padding: 2%;
}
